.dashboard-back {
    background-color: darkblue;
}

.dashboard-main {
    padding: 3%;
    color: white;
}

.dashboard-subcontent {
    border-radius: 30px 30px 0 0;
    background-color: white;
    position: relative;
    padding: 3%;
    -webkit-box-shadow: 0px -2px 13px 5px rgba(0, 0, 0, 0.27);
    box-shadow: 0px -2px 13px 5px rgba(0, 0, 0, 0.27);
    color: #444;
}

.profile-button {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: white;
    float: right;
    display: block;
    margin: 2% 2.5%;
}

.balance::before {
    content: '\20B9';
}

.balance {
    font-size: 48px;
    margin: 4%;
    font-weight: 600;
}

.recents {
    width: 60%;
    float: right;
}

.recents::after {
    content: '+';
    height: 63px;
    width: 63px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.493);
    padding: 4px 0;
    text-align: center;
    display: block;
    font-size: 34px;
    font-weight: bold;
    display: inline-block;
    position: relative;
    top:-35px;
    margin-left: 2%;
}

.person {
    display: inline-block;
    margin: 0 2%;
}

.person-pic {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: white;
    border: 3px solid rgb(48, 190, 233);
}

.chart {
    height: 300px;
    width: 300px;
    background-color: lightcoral;
    border-radius: 50%;
    margin: 5%;
}