body {
    overflow: hidden;
}

.dashboard-back {
    background-color: darkblue;
}

.dashboard-main {
    padding: 3%;
    color: white;
}

.profile-button {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: white;
    float: right;
    display: block;
    margin: 2% 2.5%;
}

.amount::before {
    content: '\20B9';
}

.balance {
    font-size: 48px;
    margin: 4%;
    font-weight: 600;
}

.recents {
    width: 60%;
    float: right;
}

.recents::after {
    content: '+';
    height: 63px;
    width: 63px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.493);
    padding: 4px 0;
    text-align: center;
    display: block;
    font-size: 34px;
    font-weight: bold;
    display: inline-block;
    position: relative;
    top: -35px;
    margin-left: 2%;
}

.person {
    display: inline-block;
    margin: 0 2%;
}

.person-pic {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: white;
    border: 3px solid rgb(48, 190, 233);
}

.dashboard-subcontent {
    border-radius: 30px 30px 0 0;
    background-color: white;
    position: relative;
    padding: 3%;
    -webkit-box-shadow: 0px -2px 13px 5px rgba(0, 0, 0, 0.27);
    box-shadow: 0px -2px 13px 5px rgba(0, 0, 0, 0.27);
    color: #444;
    padding-bottom: 15%;
    display: inline-flex;
    width: 100%;
}

.card-section {
    border-left: 1px solid lightgray;
    padding-left: 4%;
    margin-left: -8%;
}

.chart {
    height: 300px;
    width: 300px;
    background-color: lightcoral;
    border-radius: 50%;
    margin: 5%;
    float: left;
}

.history-list {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 400px;
    width: 45%;
    display: inline-block;
}

.history {
    border-bottom: 1px solid lightgray;
    width: 100%;
    padding: 8px;
    padding-top: 15px;
}

.history-icon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: darkgray;
    float: left;
    display: block;
    margin: 0 2.5%;
}

.history-name {
    font-weight: bold;
    color: #444;
    display: block;
}

.history-description {
    color: darkgray;
    font-size: small;
    position: relative;
    top: -7px;
}

.history-amount {
    float: right;
    font-weight: bold;
    font-size: 22px;
    position: relative;
    top: -20px;
}

.card {
    height: 180px;
    width: 310px;
    border-radius: 18px;
    background-color: #FAD961;
    background-image: linear-gradient(69deg, #FAD961 0%, #F76B1C 100%);
    margin: 8% 5%;
    border-width: 0;
}