.dashboard-back {
    background-color: darkblue;
}

.dashboard-main {
    padding: 3%;
    color: white;
}

.dashboard-subcontent {
    border-radius: 30px;
    background-color: white;
}

.profile-button {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: white;
    float: right;
    display: block;
    margin: 2% 2.5%;
}

.balance::before {
    content: '\20B9';
}

.balance {
    font-size: 48px;
    margin: 4% 1%;
}

.recents {
    width: 60%;
    float: right;
}

.person {
    display: inline-block;
    margin: 0 2%;
}

.person-pic {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: white;
    border: 3px solid cyan;
}