/* Disabled interfering classes */

/* div{
     margin: 20px;    
     padding: 10px;
}
h1{
     padding-left: 750px;
     padding-top: 150px;
} */
.username{
     padding-left: 650px;
     /* Padding left is not the correct way to center things. it wont work on all screens */
}
.password{
     padding-left: 650px;
}
/* button{
     margin-left: 790px;
} */