.profile-back {
    padding: 7%;
    color: white;
    background-color: #0093E9;
    background-image: linear-gradient(135deg, #003feb 0%, #80b9d0 100%);
}
.profile {
    display: inline-block;
    margin: auto;
    margin-top: -8%;
    text-align: center;
}
.profile-pic {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: white;
    border: 3px solid rgb(48, 190, 233);
}